@mixin transition-4 {
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}
